<?xml version="1.0" encoding="UTF-8"?>
<stfconf:soaTFIfaceConfig
    xmlns:stfconf="http://www.ibm.com/SOATF/Config/Iface"
    xmlns:ftpconf="http://www.ibm.com/SOATF/Config/Iface/FTP"
    xmlns:jmsconf="http://www.ibm.com/SOATF/Config/Iface/JMS"
    xmlns:dbconf="http://www.ibm.com/SOATF/Config/Iface/DB"
    xmlns:soapconf="http://www.ibm.com/SOATF/Config/Iface/SOAP"
    xmlns:utilconf="http://www.ibm.com/SOATF/Config/Iface/UTIL"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.ibm.com/SOATF/Config/Iface ../../SOATestingFramework/schema/SOATFIfaceConfig/SOATFIfaceConfig.xsd">
<stfconf:ifaceEndPoints>
    <stfconf:ifaceEndPoint>
        <stfconf:ftpServer refId="SALMON to GL Source FTP">
            <ftpconf:fileName>TREEUR20131107_file3.dat</ftpconf:fileName>
            <ftpconf:fileContent><![CDATA[60,000001,TREGBP,301111,J,1,1,11,11,Interest_BW1191,1,15.30075.30320.0000.0000,91958.79,1.1698642957
60,000002,TREGBP,301111,J,1,1,11,11,Interest_BW1191,2,15.00000.69050.0000.0000,-91958.79,1.1698642957
60,000003,TREGBP,301111,J,1,1,11,11,Repay_BW1191,1,15.00000.72695.0000.0000,52000000.00,1.1698642957
60,000004,TREGBP,301111,J,1,1,11,11,Repay_BW1191,2,15.00000.69050.0000.0000,-52000000.00,1.1698642957]]></ftpconf:fileContent>
        </stfconf:ftpServer>
    </stfconf:ifaceEndPoint>
    <stfconf:ifaceEndPoint endPointLocalId="JournalExchangeRate Maintain Queue">
        <stfconf:jmsSubsystem>
            <jmsconf:jmsServer name="IWCommonJMSServer"/>
            <jmsconf:connectionFactory name="iw.XAConnectionFactory" jndiName="iw/XAConnectionFactory"/>
            <jmsconf:queue name="iw.JournalExchangeRate.MaintainQueue" jndiName="iw/JournalExchangeRate/MaintainQueue"/>
            <jmsconf:messageSchema path="../osb/JournalExchgRateFromSalmonHRBloomberg/Resources/Schema/JournalAndExchangeRateCanonicalSchema.xsd"/>
        </stfconf:jmsSubsystem>
    </stfconf:ifaceEndPoint>
    <stfconf:ifaceEndPoint endPointLocalId="Proxy Service Listener on Maintain Queue">
        <stfconf:soap>
            <soapconf:serviceName>JournalExchgRateToEBSPS</soapconf:serviceName>
            <soapconf:endPointUri>JournalExchgRateToEBS/ProxyService/JournalExchgRateToEBSPS</soapconf:endPointUri>
            <soapconf:serviceLocationType>internal</soapconf:serviceLocationType>
            <soapconf:serviceSOAType>ProxyService</soapconf:serviceSOAType>
        </stfconf:soap>
    </stfconf:ifaceEndPoint>
</stfconf:ifaceEndPoints>
    <stfconf:ifaceFlowPatternConfig>
        <stfconf:ifaceFlowPattern refId="FTP to Queue to Database" testName="Test case scenario for Salmon files">
            <stfconf:ifaceTestScenario refId="Positive scenario">
                <stfconf:ifaceExecBlock refId="FTP to MaintainQueue">
                    <stfconf:source endPointLocalIdRef="SALMON to GL Source FTP"/>
                    <stfconf:target endPointLocalIdRef="JournalExchangeRate Maintain Queue"/>
                    <stfconf:target endPointLocalIdRef="Proxy Service Listener on Maintain Queue"/>
                </stfconf:ifaceExecBlock>
                <stfconf:ifaceExecBlock refId="Maintain Queue to Database">
                    <stfconf:source endPointLocalIdRef="JournalExchangeRate Maintain Queue"/>
                    <stfconf:source endPointLocalIdRef="Proxy Service Listener on Maintain Queue"/>
                </stfconf:ifaceExecBlock>
            </stfconf:ifaceTestScenario>
        </stfconf:ifaceFlowPattern>
    </stfconf:ifaceFlowPatternConfig>
</stfconf:soaTFIfaceConfig>